.DS_Store

node_modules
.yarn

binary/utils/.idea
binary/utils/target

binary/wasm/.idea
binary/wasm/target
binary/wasm/pkg

client/.yarn
client/.tanstack
client/node_modules
client/.env

server/.yarn
server/node_modules
server/server_local_db
server/dist
server/.env